Participants:
Andrae 
Doris
Ildi
Ranjani
Zhirong
Mostafa
Jose

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

In [ ]:
##Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id")]
a = "Customer ID = "
id = "513"
print(a+id)

Customer ID = 513

In [ ]:
#Run the following statement, why there is an error
id=id+1
# Python can only concatenate String Variables and not Integers
# Can be corrected by converting id to Int EG. int(id)

TypeError: ignored

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id=int(id)+1
print(new_id)

514

In [ ]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

s1 = "Twinkle, twinkle, little star,"
s2 = "How I wonder what you are!"
s3 = "Up above the world so high,"
s4 = "Like a diamond in the sky."

print(s1,"\n\t", s2,"\n\t\t", s3,"\n\t\t\t", s4)

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.

In [ ]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"


print(course[0])

In [ ]:
# Print the element on the 13th index in the string
print(course[13])

t

In [ ]:
# Find the length of string
print(len(course))

In [ ]:
#Print the last element in the string [use negative index]
print(course[-1])

In [ ]:
#Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [ ]:
# Get every third element in the range from index 0 to index 20
print(course[0:21:3])

Ph ra i

In [ ]:
# Concatenate course string with ", AI & Development"
concat = course + ", AI & Development"
print(concat)

Python for Data Science, AI & Development

In [ ]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science
replace = course.replace(" ", "_")
print(replace)

Python_for_Data_Science

In [ ]:
# Convert all the characters in string to upper case
upper = replace.upper()
print(upper)

PYTHON_FOR_DATA_SCIENCE